Flask==2.2.3
Flask-Migrate
email-validator
Flask-WTF
waitress==2.1.2
Flask-Login==0.6.2
Flask-Cors==3.0.10
SQLAlchemy==1.4.47
Flask-Bcrypt==1.0.0  # Latest version
opencv-python==4.5.5.64
imutils==0.5.4
beautifulsoup4==4.11.1
requests==2.26.0
pytesseract==0.3.8
flask_sqlalchemy
Pillow==8.4.0
gunicorn 
Werkzeug==2.2.2  # Compatible version
pymysql>=1.0.0
psycopg2-binary
